<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @hotel.title %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @hotel.rating %>
</p>

<p>
  <strong>Breakfast:</strong>
  <%= @hotel.breakfast %>
</p>

<p>
  <strong>Description:</strong>
  <%= @hotel.description %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @hotel.photo %>
</p>

<p>
  <strong>Price:</strong>
  <%= @hotel.price %>
</p>

<h2>Comments</h2>
<div id="comments">
    <% @hotel.comments.each do |comment| %>
      <%= div_for comment do %>
      <p> 
        <strong>Posted <%= time_ago_in_words(comment.created_at) %></strong><br/>
        <%= h(comment.body) %>
      </p>
      <% end %>
    <% end %>
</div>

<%= form_for([@hotel, Comment.new]) do |f| %>
  <p><%= f.label :body, "New Comment" %><br/>
     <%= f.text_area :body %>
  </p>
  <p><%= f.submit "Add Comment" %></p>
<% end %>

<%= link_to 'Edit', edit_hotel_path(@hotel) %> |
<%= link_to 'Back', hotels_path %>
